/* I sincerely apologize for my choice of colors on this project*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@media (max-width: 500px) {
  body {
    flex-wrap: wrap;
  }
  .img-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 10%;
  }
}

@media (max-width: 1000px) {
  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
}

#header {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(180, 25%, 25%);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2vmax;
  font-weight: 900;
}
#title-cluster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ff7f50;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

li a {
  font-size: 1.8vmax;
  text-decoration: none;
  color: #ff7f50;
  font-family: "Playfair Display", serif;
}

#about-us {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
#video {
  margin: 5vmax auto;
}

.about-us-text {
  background-color: hsl(180, 46%, 88%);
  margin: 0;
  padding-top: 1.3vmax;
}
p {
  width: 60%;
  text-align: center;
  margin: auto;
  font-size: 1vmax;
  color: #ff7f50;
  font-family: "Playfair Display", serif;
}

.body {
  margin: 0;
}

.upper-body {
  margin: 80px 0 0 0;
  background-image: url("https://i.pinimg.com/originals/d2/46/4b/d2464bc41fbf850d91a446dfb7abdf15.jpg");
  background-size: cover;
}

.img-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

#locations {
  background-color: hsl(180, 46%, 88%);
  margin-top: 0;
}

#locations-title {
  text-align: center;
  color: #ff7f50;
  font-size: 1.6vmax;
  margin: 0;
  padding: 1.7vmax 0;
  font-family: "Playfair Display", serif;
}

.loc {
  max-width: 30%;
  height: 100%;
}
.loc-img {
  width: 100%;
  height: auto;
}

.loc-container {
  background: #000;
}

figcaption {
  font-size: 1.3vmax;
  text-align: center;
  color: #ff7f50;
  font-weight: 900;
  font-family: "Playfair Display", serif;
}

footer {
  margin: 0;
  background: hsl(180, 46%, 88%);
}

.footer-border {
  padding-bottom: 2%;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  color: #ff7f50;
}

.form {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.textarea {
  background: rgba(48, 80, 80, 0.5);
  border: 0;
}

.email {
  background: rgba(48, 80, 80, 0.5);
  border: 0;
  margin-top: 5px;
  height: 30px;
}
.submit {
  background: rgba(48, 80, 80, 0.5);

  margin-top: 5px;
  height: 30px;
}
